.grid{
   position: relative;
   float: left;
   left: 35px;
   width: 925px;
   padding: 5px;
   margin-bottom: 16px;
   margin-top: 15px;
}
.col1{
   position: relative;
   float: left;
   left: 8px;
   margin-right: 15px;
   width: 251px;
   height: 240px;
   margin-bottom: 10px;
   background-repeat: no-repeat;
}
.col2{
   position: relative;
   float: left;
   left: 24px;
   margin-right: 15px;
   width: 251px;
   height: 240px;
   margin-bottom: 10px;
   background-repeat: no-repeat;
}
.col3{
   position: relative;
   float: left;
   left: 40px;
   width: 251px;
   height: 240px;
   background-repeat: no-repeat;
}

.grid2{
   position: relative;
   float: left;
   left: 35px;
   width: 925px;
   padding: 5px;
   margin-bottom: 16px;
   margin-top: 15px;
}
.col4{
   position: relative;
   float: left;
   left: 8px;
   margin-right: 15px;
   width: 251px;
   height: 240px;
   margin-bottom: 10px;
   background-image: url(../img/capuz.jpg);
   background-repeat: no-repeat;
}
.col5{
   position: relative;
   float: left;
   left: 24px;
   margin-right: 15px;
   width: 251px;
   height: 240px;
   margin-bottom: 10px;
   background-image: url(../img/arco.jpg);
   background-repeat: no-repeat;
}
.col6{
   position: relative;
   float: left;
   left: 40px;
   width: 251px;
   height: 240px;
   background-image: url(../img/ginastica.jpg);
   background-repeat: no-repeat;
}