body {
 margin: 8px;
 display: block;
}

.container{
	width: 960px;
	margin: 0 auto;
	padding: 5px;
	background-color: white;
}
header {
 height:225px;
 width: 940px;
 background-image: url(../img/topo.jpg);
 padding: 0 10px;
 display: table-cell;
}

nav {
	width: 960px;
	background-color: black;
}
nav ul {
 padding: 0;
 margin-left: 5px;
 margin-right: 5px;
 }

nav ul li {
 list-style-type:none;
 display:inline;
 padding: 2px;
}

nav ul li a {
  text-decoration: none;
  background-color:lightgrey;
  border-radius:5px;
  padding: 5px;
  color: black;
  transition: .3s;
}

nav ul li a:hover {
  background-color: skyblue;
  color: white;
}

img {
 width: 350px;
 height: 250px;
 padding: 5px 1px 5px 5px;
}

section{
	width: 440px;
	float: left;
}
img#grid{
    width: 251px;
    height: 240px;
}
article {
	width: 490px;
	padding-right: 10px;
	margin-top: 35px;
	float: right;
	background-color: rgba(60, 97, 179, 0.2);
    border-radius:5px;
}

article p {
	margin-left: 5px;
	font-size: 20px;
}

footer {
 clear: both;
 height:50px;
 width: 940px;
 padding: 10px;
 background-color:black;
 float:right
}

footer span {
	color: white;
	font-size: 13px;
	float: left;
}
footer p {
	color: white;
	font-size: 14px;
	float: right;
}

.classname:hover {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(0deg) scale(1.7) skew(0deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1.7) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.7) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1.7) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.7) skew(0deg) translate(0px);
}
.classname{
-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}

body#index a#ho, body#novos a#p1,
body#usados a#p2, body#contato a#p3 {
cursor: default;
border-left: 10px solid #3172d5;
border-right: 10px solid #3172d5;
background-color: #3172d5;
color: #fff;
}